// breakpoints
$max-mobile: 479px;
$min-mobile: 480px;
$max-tablet: 767px;
$min-tablet: 768px;
$min-tablet-ls: 992px;
$min-desktop: 1180px;
$min-desktop-lg: 1440px;

// media mixin
@mixin media($breakpoint) {
  @if $breakpoint == max-mobile {
    @media only screen and (max-width: $max-mobile) {
      @content;
    }
  }

  @if $breakpoint == min-mobile {
    @media only screen and (min-width: $min-mobile) {
      @content;
    }
  }

  @if $breakpoint == max-tablet {
    @media only screen and (max-width: $max-tablet) {
      @content;
    }
  }

  @if $breakpoint == min-tablet {
    @media only screen and (min-width: $min-tablet) {
      @content;
    }
  }

  @if $breakpoint == min-tablet-ls {
    @media only screen and (min-width: $min-tablet-ls) {
      @content;
    }
  }

  @if $breakpoint == min-desktop {
    @media only screen and (min-width: $min-desktop) {
      @content;
    }
  }

  @if $breakpoint == min-desktop-lg {
    @media only screen and (min-width: $min-desktop-lg) {
      @content;
    }
  }
}